.header {
    background-color: $dark-blue1;
    padding-top: 1rem;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        max-width: 90px;
    }
}

.nav {
    &__menu {
        display: flex;
    }

    &__item {
        list-style: none;
        margin-left: 1.3rem;
    }

    &__link {
        font-size: 1rem;

        &:hover {
            border-bottom: 1px solid $primary;
            font-weight: bold;
        }
    }
}