@include media-md {
    .hero__img,
    .about__productive-img {
        max-width: 700px;
        margin: 0 auto;
        display: block;
    }

    .nav {
        &__item {
            margin-left: 1.5rem;
        }
    
        &__link {
            font-size: 1.1rem;
        }
    }

    .about {
        &__card {
            max-width: 500px;
            margin: 0 auto;
        }

        &__productive-text {
            max-width: 600px;
            margin: 3rem auto 0;
        }
    }

    .testimonials__card,
    .footer__section,
    .footer__logo {
        display: block;
        max-width: 500px;
        margin: 2rem auto 0;
    }

    .join {
        max-width: 500px;
        margin: 0 auto 5rem;
    }
}

@include media-lg {
    .hero {
        background-image: url(../images/bg-curvy-desktop.svg);
    }
    
    .about {
        &__cards {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        &__productive {
            display: flex;
            gap: 2rem;
            align-items: center;
        }
    }

    .testimonials {
        padding-bottom: 5rem;

        &__cards {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            margin: 0 auto;
        }
    }
    
    .join {
        max-width: 900px;
        padding: 3rem 4rem 0;
        margin: 0 auto;
        transform: translateY(100px);

        &__cta {
            display: grid;
            grid-template-columns: 2fr 1fr;
            gap: 2rem;

            button {
                align-self: center;
                padding: 1.1rem;
            }
        }
    }

    .footer {
        padding-top: 10rem;

        &__sections {
            display: grid;
            grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
            align-items: start;
        }

        &__logo {
            max-width: 90px;
            margin: 0;
        }

        .section1 {
            padding-right: 2rem;
        }
    
        .section1,
        .section2 {
            align-self: start;
            display: grid;
            grid-template-columns: 30px 1fr;
            gap: 0;
            margin-top: 2rem;
        }
    
        .section2 {
            align-items: center;
        }
    
        .section3,
        .section4 {
            margin-top: 1rem;
        }
    }
}