@import 'config', 'menu', 'home', 'responsive';

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: $primary;
    background-color: $dark-blue2;
}

a {
    text-decoration: none;
    color: $primary;
}

h1,
h2,
h3,
.cta,
.nav {
    font-family: 'Raleway', sans-serif;
}

p {
    line-height: 1.6;
    margin-top: 1rem;
}

.container {
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
}